<h1>Question-Answer Trivia</h1><br>
<%= link_to 'Create New Question', new_question_path %><br><br>
<%= link_to 'Play Trivia', new_response_path %><br><br>
<%= link_to 'Show Ratings', games_show_ratings_path%><br><br>
<%= link_to 'My Questions', questions_path%>